<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello <%= @user.name %>,</h1>
<p>You recently requested to reset your password for your Bloom Account. Click the link below to reset it.</p>
<p>
  <%= @url %>/admin/reset_password?user=<%= @user.username %>&key=<%= @key %>
</p>

</body>
</html>