<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h3>Hello <%= @user.name %>,</h3>
<p>You have successfully register with bloom as <strong>Parent</strong>.</p>
<p>
To log on to the site, use the following credentials:<br/>
  Username: <%= @user.username %><br>
  Password: <%= @password %><br>
</p>


<p>Thanks for joining and have a great day!</p>

</body>
</html>