<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Hello <%= @user.name %>,</h1>
<h3>Your password has been changed successfully.</h3>
<p>
  To log on to the site, use the following credentials:<br/>
  Username: <%= @user.username %>.<br/>
  Password: <%= @password %>.<br/>
</p>

</body>
</html>