<div class="modal inmodal" id="dayCareCenterForm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content animated fadeIn">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">Close</span>
        </button>
        <h4 class="modal-title ng-scope">Add Parent</h4>
      </div>

      <form role="form" onsubmit="saveDayCareCenter(); return false;">
        <div class="modal-body">
          <div id="formErrorDiv" style="display: none"></div>

          <input type="hidden" id="day_care_center_id" name="day_care_center_id">
          <div class="requiredMsg">All fields with <span>*</span> mark are required</div>

          <div class="row">
            <div class="col-xs-6 form-group">
              <label for="name">Name <span>*</span></label>
              <input class="form-control" type="text" name="name" id="name">
            </div>

            <% if @user_id == -1 %>
            <div class="col-xs-6 form-group">
              <label for="day_care">Day Care <span>*</span></label>
              <select class="form-control" name="day_care" id="day_care" >
                <option value="">Select Day Care</option>
                <% @dayCare.each do |d| %>
                    <option value="<%= d.id %>"><%= d.name %></option>
                <% end %>
              </select>
            </div>
            <% else %>
                <input type="hidden" name="day_care" id="day_care" value="<%= @day_care_id %>">
            <% end  %>
          </div>

          <div class="row">
            <div class="col-xs-6 form-group">
              <label for="address">Address</label>
              <input class="form-control" type="text" name="address" id="address">
            </div>

            <div class="col-xs-6 form-group">
              <label for="zipcode">Zipcode <span>*</span></label>
              <input class="form-control" type="text" name="zipcode" id="zipcode">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="text-center">
            <div class="btnLoaderWrap" id="dayCareCenterFormSubmitBtn">
              <button type="submit" class="btn btn-primary submitButton">Add Day Care Center</button>
              <div class="btnLoader">
                <div class="sk-spinner sk-spinner-three-bounce">
                  <div class="sk-bounce1"></div>
                  <div class="sk-bounce2"></div>
                  <div class="sk-bounce3"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>